* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #a1bf8e;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    border: 8px solid black;
    /* background: #575757; */
    background: #131313;
    height: 550px;
    width: 600px;
    margin: 160px;
    border-radius: 20px;
}
.screen {
    /* border: solid red; */
    background: rgb(192, 209, 293);
    height: 100px;
    margin: 40px 30px 40px 30px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding:20px;
    font-size: 50px;
}
.buttonContainer {
    margin: 30px 50px 30px 50px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.nums {
    height: 60px;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}
.nums:hover {
    background: crimson;
}
.operator {
    background: orange;
    width: 105px;
    border: 2px solid rgb(144, 98, 11);
}
.newBox {
    /* border: solid palegoldenrod; */
    display: flex;
    justify-content: center;
}
#new {
    font-size: 20px;
    color: #3c3f68;
}
#new:hover {
    cursor: pointer;
    color: #beafaf;
}
/************************************************ NEW VERSION ****/

.newCalculator {
    height: 508px;
    width: 300px;
    border-radius: 12px;
    color: white;
    background-color: #090c31;
    display: none;
}
.newScreen {
    /* border: solid white; */
    background-color: #090c31;
    height: 150px;
    margin: 55px 30px 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
    font-size: 55px;

}

.btns {
    /* border: solid lime; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 15px;
    background-color: #262845;
    color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 15px;
    gap: 2px;
}
.button {
    background-color: #262845;
    color: #f5f5f5;
    border: none;
    height: 55px;
}
.button:hover {
    background-color: #090c31;
    color: #f5f5f5;
}
#old{
    background-color: #262845;
    color: #beafaf;
    border: none;
    width: 140px;
    height: 55px;
    position: absolute;
    margin-top: -66px;
    margin-left: 160px;
    letter-spacing: .2em;
}
#old:hover {
    background-color: #090c31;
    color: magenta;
}
#clear {
    color: rgb(255, 0, 89);
}
#divide, #multiply, #minus, #add, #equal, #delete{
    color: #22ce22;
}
